<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <link rel="stylesheet" href="{{'/css/index.css' | relative_url }}" />
    <script src="https://kit.fontawesome.com/f43f1f946d.js" crossorigin="anonymous" async></script>
</head>
<body>
    <h2 class="headline">{{ site.author }}</h2>
    <div class="row">
      <div class="left">
        <p class="intro-text">
          I am Tijmen, a Software Engineering student from Amsterdam! 
          Besides finishing my Bachelor, I also work at AH IT EEP.
          As a DevSecOps Engineer, I am currently working on enabling engineers to have the best developing experience possible.
          Tools I am currently working with are GitHub Actions, Docker, ArgoCD, and Kubernetes/Rancher.
        </p>
      </div>
      <div class="right center-img-col">
        <img src="/assets/tijmen.webp" alt="Foto Tijmen" class="img">
      </div>
    </div>

    <h3>Experience</h3>
    <ul>
      {% for item in site.data.work-experience.data %}
      <li class="list-top-margin outer-list-text">{{ item.job }}, {{ item.company }} <span>{{ item.time-span }}</span></li>
      <li class="inner-list-text">{{ item.description }}</li>
      {% endfor %}
    </ul>

    <h3>Education</h3>
    <ul>
      {% for item in site.data.education.data %}
      <li class="list-top-margin outer-list-text">{{ item.study }}, {{ item.school }}, {{ item.place }} <span>{{ item.time-span }}</span></li>
      <li class="inner-list-text">{{ item.description }}</li>
      {% endfor %}
    </ul>    
    <h3>Want to get in touch?</h3>
    <div class="contact-me">
      <ul id="contact-ul">
        <li>
          <a target="_blank" rel="noreferrer noopener" href="https://github.com/{{ site.github_username }}"><i class="fab fa-2x fa-github icon"></i></a>
        </li>
        <li>
          <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/tijmen-stor/"><i class="fab fa-2x fa-linkedin icon"></i></a>
        </li>
        <li>
          <a href="mailto:{{ site.email }}"><i class="fas fa-2x fa-envelope icon"></i></a>
        </li>  
      </ul>
    </div>
</body>
</html>